body {
    position: relative;
    background-color: rgb(0, 0, 0);
}

.header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 76px;
    line-height: 60px;
    margin-top: -50px;
    font: #ffffff;
    font-size: 16px;
    /* background-color: #05072a; */
    background-color: #05072af8;
    box-shadow: 0 8px 16px rgba(59, 59, 59, 0.148);
}

.header img {
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}

.wrap {
    width: 1326px;
    margin: 0 auto;
}

.logooo .logo img {
    float: right;
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
    margin-left: -10px;
}

.logooo {
    float: left;

}

.logo span {
    font-size: 35px;
    text-shadow: 4px 2px 1px rgb(163, 36, 254);
}

.logooo img {
    margin: 15px -10px;
    margin-bottom: 22px;
    width: 40px;
    height: 50px;
}

.header-left {
    margin: 10px 0px;
    float: left;

}

.header-right {
    float: right;
}

.header li {
    position: relative;
    float: left;
}

.header-left a {
    display: block;
    font-weight: 300;
    font-size: 19px;
    height: 56px;
    line-height: 56px;
    padding: 0px 20px;
}

.header-left a:hover {
    transform: translateX(5px);
    color: #b422fe;
    transition: all .4s;
}

.header span {
    color: #424242;
    margin: 0 3.6px;

}

.Home {
    transform: translateX(5px);
    /* color: #b422fe; */
}

/* active部分 */
.active,
.resoure {
    position: absolute;
    padding-bottom: 20px;
}

.active-list,
.res {
    z-index: 999;
    position: absolute;
    left: 50px;
    width: 100px;
    height: 0;
    margin-top: 10px;
    border-radius: 1em;
    /*圆角*/
    backdrop-filter: blur(1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.148);
    background-color: rgba(6, 6, 52, 0.753);
    transition: all .3s;
    overflow: hidden;
}

.header-left li:hover .active-font {
    transform: translateX(5px);
    color: #b422fe;
}

/* .header-left li:hover .iconfont{
    transform: rotateZ(.50turn);
} */
.active-list a {
    padding: 0px 0px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}


.header-left li:hover>.active-list {
    height: 200px;
}

.active-list a:hover {
    transform: none;
    color: #fff;
    background-color: #5b1888e4;
    border-radius: 0.5em;
    font-size: large;
}


/* active部分结束 */
/* res */

.res a {
    padding: 0px 0px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}

/* ------------------------- */
.all {
    height: 790px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    font-family: "montserrat";
    background-image: linear-gradient(45deg, #7103f7, rgba(142, 9, 179, 0.877), rgba(56, 14, 163, 0.877), #7103f7);
    background-size: 400%;
    animation: bganimation 13s infinite;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.logo-yp {
    margin: 70px 0px auto;
    width: 90%;
    height: 100px;
    /* border: 2px outset #fff; */
}

.logo-yp .logooo {
    position: absolute;
    margin-left: -20px;
    margin-top: -65px;
}

.logo-yp .logooo img {
    width: 60px;
    height: 70px;

}

.logo-yp h1 {
    margin-top: 12px;
    font-size: 40px;
    color: #fff;
    text-shadow: 4px 2px 1px rgb(163, 36, 254);
}

.infor h1 {
    color: rgba(249, 245, 245, 0.751);
    text-align: left;
}

.all-l {
    position: absolute;
    right: 0;
    bottom: -20px;
    margin: 30px;
    width: 50%;
    height: 700px;
    /* border: 2px solid #f74c03; */
}



.items {
    z-index: 99;
    width: 154px;
    height: 230px;
    background-color: rgba(18, 17, 17, 0.792);
    float: left;
    border-radius: 1em;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 20px;
    transition: all .1s linear;
}

.items:hover,
.home-box-left1 a:hover,
.last-items>div:hover,
.video-items:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translateY(-10px);
}

.img1 {
    width: 120px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 11px;
}

.name2 {
    width: 214px;
    height: 21px;
    line-height: 21px;
    font-size: 10px;
    margin-bottom: 2px;
    margin: 0 -30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name3 {
    width: 150px;
    height: 2px;
    background-color: #eaedf210;
    margin: 10px auto;
}

.name4 img {
    width: 25px;
    border-radius: 1em;
}

.name4 {
    float: left;
    color: #d50af0cf;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
}

.name4>i {
    position: absolute;
    font-family: 'pixelfont';
    color: #b0a2a2;
    font-size: 18px;
    /* top: 10px; */
    /* margin-top: 3px; */
    padding-left: 10px;
}

.name4>i:hover {
    color: #e221f3a7;
}

.one {
    margin-top: 20px;
    margin-left: 15px;
}

.home-box-right h2 {
    float: left;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(223, 8, 252);
    /* text-shadow: 1px 1px 2px rgba(252, 249, 253, 0.562); */
}

.home-box-right h3 {
    width: 300px;
    line-height: 25px;
    /* margin: 30px 20px; */
    /* float: right; */
    font-family: 'myfont';
    position: absolute;
    margin-top: 150px;
    right: 0;
    display: inline;
    /* padding-bottom: 60px; */
    /* background-color: #fff; */
    color: #ede8edc1;
}

.two-buttom {
    /* display:block; */
    width: 280px;
    height: 100px;
    margin-top: 150px;
    margin-right: 20px;
    /* background-color: #fff; */
    float: right;
}

.two-buttom span {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 45px;
    color: rgb(246, 244, 244);
    line-height: 45px;
    margin-right: 5px;
    border-radius: 2em;
    /* border: 3px solid #a706f8; */
    /* background-color: rgb(211, 14, 250); */
}

.two-buttom span:last-child {
    margin-left: -1px;
    /* width: 170px; */
    float: right;
    background-image: -moz-linear-gradient(-30deg, #c165dd 0, #5c27fe 100%);
    background-image: -webkit-linear-gradient(-30deg, #c165dd 0, #5c27fe 100%);
    background-image: -ms-linear-gradient(-30deg, #c165dd 0, #5c27fe 100%);
}

.buttom1 {
    background-image: -moz-linear-gradient(-30deg, #c165dd 0, #5c27fe 100%);
    background-image: -webkit-linear-gradient(-30deg, #c165dd 0, #5c27fe 100%);
    background-image: -ms-linear-gradient(-30deg, #c165dd 0, #5c27fe 100%);
    /* background-color: rgba(249, 246, 250, 0.164); */
}

/* 表单 */
.all-r {
    position: absolute;
    bottom: -20px;
    margin: 30px;
    width: 48%;
    height: 700px;
    /* border: 2px solid #7103f7; */
}

.log {
    margin: 0px auto;
    width: 80%;
    height: 650px;
    background-color: #05061bcd;
    border-radius: 2em;

}

.log h1 {
    display: inline;
    position: absolute;
    /* text-align: center; */
    margin-top: 30px;
    left: 250px;
    font-size: 50px;
    color: #b014ed;
    text-shadow: 4px 2px 1px rgb(240, 237, 243);
}
.purse{
    position: absolute;
    /* background-color: rgb(231, 14, 14); */
    width: 450px;
    line-height: 25px;
    margin-left: 50px;
    margin-top: 90px;
    /* text-align: left; */
    color: rgb(251, 249, 249);
}
.purse h4{
    color: #a127fe;
    cursor: pointer;
    text-decoration:underline;
}

.wallent-buttom{
    margin-top: 160px;
    position: absolute;
    width: 450px;
    height: 400px;
    margin-left: 50px;
    /* background-color: rgba(241, 16, 16, 0.183); */
}


.wallent-buttom input{
    font-size: 25px;
    cursor: pointer;
    border-radius: 2em;
    /* padding: 15px 80px; */
    transition: all .4s;
}
.wallent-buttom input:hover{
    background-color: rgba(126, 8, 230, 0.815);
}


.hbtn {
    font-family:'myfont' ;
    background: #f9f6f6ad;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 12px 70px;
    margin: 15px 0px 0px 3px;
    text-align: center;
    border: solid 2px #ac03f4b2;
    color: #0a0a0a;
    font-size: 20px;
    white-space: nowrap;
    z-index: 0;
    border-radius: 1.3em;
    font-weight: bold;
  }
  .hbtn:last-child{
    padding: 12px 20px;
  }
  .hbtn.hb-fill-right-br:before {
    position: absolute;
    content: '';
    background: #6705b2;
    transition-duration: .3s;
    z-index: -1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 0;
    height: 100%;
    opacity: 1;
    border: solid 0px #ffffff;
    
  }
  .hbtn.hb-fill-right-br:hover{
      color: #f8f7f9e4;
  }
  .hbtn.hb-fill-right-br:hover:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .hbtn img{
      position: absolute;
      left: 40px;
      width: 30px;
      height: 30px;
      bottom: 7px;
      float: left;
      border-radius: 0.3em;
      box-shadow: 0 0 20px -5px ;
  }
  .log small{
      position: absolute;
      bottom: 90px;
      left: 130px;

      color: #fbf9f98a;
  }
/* 方块动画 */
.circles {
    /* position: absolute; */
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.circles li {

    position: absolute;
    display: block;
    /* list-style: none; */
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.073);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 6s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 8s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 5s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/* footer */
.footer-55{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #0f0d1cfd;
}
/* 页脚开始 */
.footer{
    font-family:'pixelfont';
    position: relative;
    display: flex;
    /* margin-top: 1280px; */
    width: 100%;
    height: 280px;
    background-color: #0f0d1cfd;
}
.footer-logo{
    width: 100px;
    height: 100px;
}
.footer-logo span{
    float: left;
        font-size: 35px;
        margin-left: 52px;
        margin-top: -20px;
        top: 0px;
        text-shadow: 4px 2px 1px rgb(163, 36, 254);
}
.logo-s{
    width: 48px;
    width: 50px;
    margin-top: 30px;
    margin-left: 80px;
}
.footer-p p{
    font-size: 15px;
    margin-left: 50px;
    text-align: left;
    line-height: 20px;
    margin-top: 20px;
    color: rgba(244, 241, 244, 0.785);
}
.ipp:first-child{
    margin-right: 20px;
}
.ipp{
    color: #f8f8fb;
    cursor: pointer;
    float: right;
    margin-top: 170px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
    transition: all .3s;
}
.ipp:hover{
    color: #8f13f5;
}
.footer-contact{
    position: absolute;
    /* float: right; */
    color: rgba(197, 24, 232, 0.779);

    right: 400px;

}
.footer-contact h6{
    margin: 7px;

}
.footer-contact a{
    position: absolute;
    font-family:'pixelfont';
    font-size: 13px;

    margin-top: 209px;
    
    /* display: block; */
}
.footer-contact a:hover{
    text-decoration:underline;
}

.underline-font .privacy{
    /* display:inline; */
    font-family:'pixelfont';
    float: right;
    font-size: 17px;
    margin-right: 10px;
    margin-top: 10px;
    color: #efeaea;
    
}

.underline{
    background-color: rgba(255, 255, 255, 0.078);
    width: 1250px;
    height: 1.3px;
    margin-left: 50px;
}
.underline p{
    margin-left: 0px;
    /* padding-top: 0px; */
}
.footer-p a{
    color: rgb(251, 249, 249);
    position: relative;
    right: 0;
    top: 0;
}
.line{
    color: rgba(249, 247, 247, 0.653);

}
/* 页脚结束 */